@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes animation_page{
    0%{
        transform: translateY(10vh);
        opacity: 0;
 }
     100%{
         transform: translateY(0px);
         opacity: 1;
     }
  }
 




