@charset "UTF-8";
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes animation_page {
  0% {
    transform: translateY(10vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes truc {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes machin {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/*Partie header*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0.5rem 0 0;
}

h2 {
  text-decoration: 3px #99E2D0 underline;
  font-size: 1.3rem;
  margin-left: 1rem;
}

h4 {
  font-weight: normal;
}

.return .fa-arrow-left {
  cursor: pointer;
  position: absolute;
  margin-top: 5px;
  margin-left: 5%;
  color: black;
}

#logo {
  display: flex;
  justify-content: center;
}

#logo img {
  width: 10rem;
}

.picture img {
  position: relative;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/*Partie menu*/
main {
  position: relative;
  padding-left: 1rem;
  background-color: whitesmoke;
  border-radius: 50px 50px 0 0;
  margin-top: -100px;
  padding-bottom: 2rem;
}

main h1 {
  margin-left: 1rem;
}

#menu {
  display: flex;
}

#menu .titre_resto {
  width: 80%;
}

#menu .heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 1.3rem;
}

#menu .fa-heart {
  float: right;
  font-size: 1.2rem;
  color: white;
  text-shadow: -1px 0 black, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

#menu .fa-heart::before {
  transition: color 1s ease-out;
  content: "\f004";
  font-weight: bold;
}

#menu .fa-heart:hover::before {
  cursor: pointer;
  color: #FF79DA;
}

/*Partie entrances*/
#entrances {
  animation-name: animation_page;
  animation-duration: 2000ms;
  animation-delay: 0s;
  animation-timing-function: ease-in;
  animation-direction: normal;
}

.plats {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: white;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border: 1px solid white;
  border-radius: 20px;
  margin-right: 1rem;
  cursor: pointer;
  height: 5rem;
}

.plats h3 {
  height: 50%;
}

.plats h4 {
  padding-top: 0.5rem;
}

.plats .name_plats {
  width: 75%;
  height: 100%;
}

.price {
  display: flex;
  justify-content: center;
  width: 25%;
}

.price h5 {
  margin-left: 50%;
  margin-top: 3rem;
}

.plats:hover > .comfirmation {
  animation-name: rotate;
  animation-name: truc;
  animation-duration: 0.5s;
  animation-delay: 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 15%;
  overflow: hidden;
  background-color: #99E2D0;
  color: white;
  border-radius: 0px 20px 20px 0;
  left: 85%;
}

.comfirmation:hover > .icon {
  animation-name: rotate;
  animation-duration: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: #99E2D0;
  background-color: white;
}

.plats:hover > .price h5 {
  animation-name: machin;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.plats h4 {
  margin-top: -2.5rem;
}

.icon {
  display: none;
}

/*Partie dishes*/
#dishes {
  animation-name: animation_page;
  animation-duration: 2000ms;
  animation-delay: 0.5s;
  animation-timing-function: ease-in;
  animation-direction: normal;
}

/*¨Partie desserts*/
#desserts {
  animation-name: animation_page;
  animation-duration: 2000ms;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-direction: normal;
}

.desserts {
  background-color: white;
  padding-left: 1rem;
  margin-bottom: 1rem;
  border: 1px solid white;
  border-radius: 20px;
  margin-right: 1rem;
  cursor: pointer;
  height: 5.1rem;
}

.desserts h4 {
  margin-top: -2.5rem;
}

.desserts p {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-left: 90%;
}

/*Bouton commande*/
#bouton {
  display: flex;
  justify-content: center;
}

.btn_exploration {
  display: flex;
  justify-content: center;
  width: 12em;
  height: 2.5em;
  border-radius: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin-top: 2.5em;
}

.btn_exploration a {
  font-size: 0.9em;
  color: white;
  text-decoration: none;
  top: 25%;
  position: relative;
}

#infos {
  position: absolute;
  width: 100%;
  height: 15rem;
  background-color: black;
  text-decoration: none;
}

#infos h3 {
  padding-top: 1rem;
  margin-left: 1rem;
  color: white;
}

.liste_footer {
  margin-left: -1rem;
  list-style-type: none;
  padding-top: 1rem;
}

.liste_footer a {
  color: white;
}

.liste_footer a > i {
  padding-right: 0.5rem;
}

@media screen and (min-width: 725px) {
  .return .fa-arrow-left {
    cursor: pointer;
    position: absolute;
    margin-top: 5px;
    color: black;
  }

  #logo img {
    width: 12rem;
    padding-bottom: 1rem;
  }

  .desktop {
    background-color: #f3ebeb;
    padding-top: 0rem;
  }

  .picture {
    display: flex;
    justify-content: center;
  }

  .picture img {
    position: relative;
    width: 75%;
    height: 25rem;
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  /*Partie menu*/
  main {
    width: 75%;
    margin-left: 12%;
  }

  main #menu {
    display: flex;
    justify-content: center;
  }

  /*Pied de page */
  .logo_footer {
    text-align: center;
  }

  #info h3 {
    font-size: 25px;
    text-align: center;
    color: white;
  }

  .liste_footer {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=main.css.map */
