@import "utils/_variables";

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  
}

#logo{
    display: flex;
    justify-content: center;
    
        img{
            width: 8em;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
  }

  #reservation{
      text-align: center;
      height: 16em;
      background-color: rgb(245, 241, 241);
      
    }

    .localisation{ 
        line-height: 2em;
        height: 2em;
        background-color: rgb(241, 236, 236);

        .fa-map-marker-alt{
            font-size: 1em;
        }
}
    
    .recherche{
        margin-left: 0.5em;
    }

    .exploration_resto{
        text-align: center;

        h1{
            font-size: 20px;
            font-weight: bolder;
            font-size: 1.2em;
        }

        h3{
            font-size: 1em;
            font-weight: normal;
        }
    }

    .btn_exploration{
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 12em;
        height: 2.5em;
        border-radius: 20px;
        background: linear-gradient($primaryColor,$secondColor);
        margin-top: 2em;
        
        a{
           font-size: 0.9em;
           color: white;
           text-decoration: none; 
           top: 25%;
           position: relative;
        }
    }

    .titre{
        h3{
            font-size: 25px;
             margin-left: 0.5em;
             margin-top: 2em;
             margin-bottom: 2em;
         }
    }

    /*partie fonctionnement*/

    .choix{
        position: relative;
    }
        h3{
            font-size: 1.5rem;
            width: 100%;
            margin-left: 1rem;
        }

    .cercle1, .cercle2, .cercle3{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 20px; 
        width: 20px; 
        background-color: blue;
        margin-top: 1.2rem;
        margin-left: 0.4rem;
        border-radius: 50%;     
        background-color:#9356DC;
        color: white;
        font-size: 75%;	
    }  
    
.btn {
 display: flex;
 align-items: center;
 height: 3rem;
 text-decoration:none;
 padding: 5px 40px;
 border-radius:30px;
 font-size:1.5em;
 margin: 0.5rem;
 background-color: #f7f4f4;
 
    .fa-mobile-alt,.fa-list-ul,.fa-store{
        margin-left: 10%;
        font-size: 20px;
        opacity: 0.5;
    }
 }    

.legends{
    margin-left: 15%;
    
    p{
        font-size: 1rem;
        color: black;
    }

        a{
        text-decoration: none;
        }
 }


/*partie restaurants*/
#restaurants{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(243, 243,243);
    margin-top: 1rem;
    
    .titre h3{
        margin-bottom: -1rem;
    }
}    

    .offres{
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 5px 20px 5px;
    margin-top: 2rem;
            
    img{
        position:relative;
        background-color: white;
        border-radius: 15px 15px 0px 0px;
        transition-duration: 0.1s;
        cursor: pointer;
        width: 100%;   
        height: 150px;
        object-fit: cover;
    }

    .news {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 70px;
        padding: 0.5rem 0.2rem;
        color: #0c6b50;
        background: #99E2D0;
        border-radius: 2px;
    }


        .fa-heart {
            float: right;
            font-size: 1.5rem;
            margin-right: 1rem;
            margin-top: 1rem;
            color: white;
            text-shadow: -1px 0 black, 0 1px #000, 1px 0 #000, 0 -1px #000
        }

        .fa-heart::before {
            transition: color 1s ease-out;
            content: "\f004";
            font-weight: bold;
        }
        
        .fa-heart:hover::before {
            cursor: pointer;
            color: #FF79DA;
        }    
}
 

 /*partie pied de page*/

 #infos{
    margin-top: 2rem;
    height: 15rem;
    background-color:black;
    text-decoration: none;
    
    h3{
        padding-top: 1rem;
        margin-left: 1rem;
        color: white;
    }
 }   

 .liste_footer{
     margin-left: -1rem;
     list-style-type: none; 
     padding-top: 1rem;
    
     a{
        color: white;
     }
     a > i{
     padding-right: 0.5rem;  
      }

 }

@media screen and (min-width: 765px){
/*Partie logo*/
    #logo{
        img{
        width: 12rem;
        }
}

#reservation{
    .fa-map-marker-alt{
        font-size: 20px;
    }
        
    span{
        font-size: 20px;
    }
}

.exploration_resto{
    

    h1{
        font-weight: bolder;
        font-size: 25px;
    }

    h3{
        font-size: 20px;
        font-weight: normal;
    }
}

/*Partie fonctionnement*/
#Fonctionnement{
    h3{
        font-size: 30px;
    }

        .choix{
            display: flex;
            flex-wrap: nowrap;
        }

            .btn{
                width: 30%;
            }
}

/*Partie restaurants*/
#restaurants{
    background-color: white;
}
        
.titre {
    h3{
    font-size: 30px;
    margin-bottom: 2rem;
     }
}
.block_offres {
background-color: rgb(243, 243,243);
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 3rem;
 
    h3{
        font-size: 30px;
    }

        h4{
            font-size: 25px;
        }

        .offres{
            width: 40%;
        }
}

/*Partie pied de page*/
   .logo_footer{
       text-align: center;
   }
        .liste_footer{
            text-align: center;
        }
}
    



 
    
 



  





    
  
